
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');
body {font-family: 'Roboto Mono', monospace;
height: 100vh;
background-image: url(background.jpg);
display: flex;
justify-content: center;
align-items: center;
}

h1 {
    padding: 60px;
    background: rgba(0, 44, 8, 0.438);
    background: radial-gradient(circle, rgba(0,44,8,1) 0%, rgba(0,44,8,0.48045977011494256) 62%, rgba(0,0,0,0) 100%);
    backdrop-filter: blur(1px);
   
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(184, 243, 96)
}